<h1>edit cadastro</h1>
<% pessoa_path = "pessoas/#{@pessoa.id}/edit"%>
<% empresa_path = "empresas/#{@empresa.id}/edit" %>
<%= link_to "Seu cadastro", pessoa_path %> |
<%= link_to "Cadastro empresa", empresa_path %>