<!-- <h1>new cadastro</h1> -->
<%= render 'title'%>
<%= link_to "Seu cadastro", new_cadastro_pessoa_path(:cadastro_id) , id:"pessoa", class:"links-pe" %>
<%= link_to "Cadastro empresa", new_cadastro_empresa_path(:cadastro_id), id:"empresa", class:"links-pe" %>
