<%= form_for @pessoa, url: '/cadastros/:cadastro_id/pessoas' do |f| %>
<p>Seu nome:</p>
<%= f.text_field :nome %>
<br>
<br>
<p>Seu email:</p>

<%= f.text_field :email %>
<br><br>
<%= f.submit  'Salvar' %>
<% end %>
