<div class="links">
	<p><%= flash[:notice]%></p>
  <div class="links-cadastro">
    <div class="fundo1 "><%= link_to "Novo cadastro", new_cadastro_path%>&nbsp;</div>
    <div class="fundo2 "><%= link_to "Editar cadastro", edit_cadastro_path(:id) %> <br></div>
</div>
</div>
