<h1><%= @pessoa.nome %></h1>
<h1><%= @pessoa.email %></h1>

<%= link_to "Editar", edit_pessoa_path(@pessoa) %>
<%= link_to "Deletar", pessoa_path(@pessoa), method: :delete, data: { confirm: "Certeza?"} %>
