@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:400,500,700');

.container {
  background-color: #edeced;
  width: 100%;
  padding:  0 !important;
  font-size: 28pt;
  transition: ease-out 0.3s;
  height: 40em;
}
*{
  text-align: center;
}
header {
  padding-top: 1em;
  float: left;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 28pt;
  color: white;
  background: #11698d;
  height: 4em;
  background: -webkit-linear-gradient(left, #2381a7 , #244283);
  background: -o-linear-gradient(right, #2381a7, #244283);
  background: -moz-linear-gradient(right, #2381a7, #244283);
  background: linear-gradient(to right, #2381a7 , #244283);
  .cadastro {
    padding-left: 3.8em;
  }
  #arrow > span{
    color: white;
    padding-left: 0 !important;

  }
  .burg{
    padding-left: 3.8em;

  }
  .fa {
    color: white;
    padding-left: 0 !important;
    font-size: 1.4em !important;
  }
}


.links{
  padding-top: 1em;
  background: white;
  clear: left;
  float: left;
  width: 100%;
  height: 4em;
  margin-left: 0.01em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.opcao, .bemvindo, .ato{
  color: darkgrey;
  padding-top: 1em;
  border-bottom: 0.1em solid darkgrey;
  margin-bottom: 1em;
  clear: left;
  float: left;
  width: 100%;
  padding-left: 1em;
}


body > div > div.row.links > div:nth-child(1){
  width: 50%;
  float: left;
  &:hover {
    background-color: #edeced;
    border-bottom: 0.1em solid darkgrey;
  }
}
body > div > div.row.links > div:nth-child(2) {
  width: 50%;
  float: right;
  &:hover {
    background-color: #edeced;
    border-bottom: 0.1em solid darkgrey;
  }
}
#Novo, #Editar {
  text-decoration: none;
  color: darkgrey;
}

.divlinks{
  margin-top: 1em;
  padding-left: 4.021em;
 padding-right: 4.021em;
}
.links-cadastro{
  clear: left;
  width: 100%;
  float: left;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 21pt;
  color:#17969E;
  background: snow;
  border: 0.15em solid #17969E;
  padding: 0.425em;
  text-align: center;
  margin-bottom: 2em;
  &:hover {
    color: snow;
    background: #17969E;
    transition: ease-out 0.5s;
  }
  &:focus {
    text-decoration:none;
  }
}
#pessoas {
  padding: 0.425em 0.825em;
  border-radius: 2.1875em 0 0 2.1875em;
  width: 50%;
  float: left;
}

#empresas {
  border-radius: 0 2.1875em 2.1875em 0;
  width: 50%;
  clear: right;
}

form  {
  color: darkgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 22pt;
  text-align: left;
  margin-left: 8em;
  input, select, textarea {
    background-color: white;
    border-radius: 1em;
    border:  0.125em solid lightgray;
    outline: none;
    padding: 0.2125em;
    width: 70%;
    &:hover {
      border-color: silver;
    }
    &:focus {
      border-color: darkgrey;
    }
  }
  input[type=submit] {
    width: 30%;
    border-style: none;
    border-radius: 1em;
    color: #FFF;
    text-decoration: none;
    background-color: #17969E;
    margin: 0.3125em 5em;
    font-weight: bold;
    &:hover{
      cursor: pointer;
      opacity: 0.7;
      transition: ease 0.5s;
    }
  }
  input[value="Salvar Alterações"] {
    width: 35%;
    border-style: none;
    border-radius: 1em;
    color: #FFF;
    text-decoration: none;
    background-color: #17969E;
    font-weight: bold;
    float: right;
    margin: 0 !important;
    margin-right: 5em !important;
    &:hover{
      cursor: pointer;
      opacity: 0.7;
      transition: ease 0.5s;
    }
  }

}

a[data-method=delete]{
  border-style: none;
  border-radius: 1em;
  color: #FFF;
  text-decoration: none;
  background-color: #c1243e;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  outline: none;
  margin-left: 2em;
  padding: 0.3125em 1.3125em ;
  clear: left;
}
