/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*reset*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:400,500,700');
body {
  width: 100%;
  /*padding-left: 10%;*/
  /*padding-right: 50%;*/
  align-items: center;
  text-align: center;

}
.container {
  padding-bottom: 2em;
  text-align: center;
  position: absolute;
  /*left: calc(35%);*/
  align-items: center;
  width: 100%;
  background: #edeced;
  font-family: 'Roboto Medium', sans-serif;
  font-size: 22pt;
  color: #807f7f;
}

.links{
  width: 100%;
  height: 4em;
}
.links-cadastro{
  padding: 1.6em;
  height: 0.9em;
}
.links-cadastro a{
  height: 0.9em;

  font-family: 'Roboto Medium', sans-serif;
  font-size: 22pt;
  color: #807f7f;
  text-align: center;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.links-cadastro a:active{
  background-color: white;
}
.links-cadastro a:focus {
  background-color: white;
}
a.links-pe {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 21pt;
  color:#17969E;
  background: snow;
  border: 0.25em solid #17969E;
  padding: 0.625em;
  text-align: center;
  float: left;
  width:25%

}
a.links-pe:hover {
  color: snow;
  background: #17969E;
  text-decoration: none;
  transition: ease-out 0.5s;
}
a.links-pe:focus {
  text-decoration:none;
}
#pessoa {
  border-radius: 2.1875em 0 0 2.1875em;
  margin-left: 7em;
}

#empresa {
  border-radius: 0 2.1875em 2.1875em 0;
}

a[data-method=delete] {
  position: relative;
  border-style: none;
  border-radius: 1em;
  color: #FFF;
  text-decoration: none;
  background-color: #c1243e;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  width: auto;

  outline: none;
  padding: 0.3125em 1.3125em ;

}

input {
  background-color: white;
  border-radius: 1em;
  border:  0.125em solid lightgray;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 22pt;
  width: 65%;
  outline: none;
  padding: 0.3125em;
}
input:hover {
  border-color: silver;
}
input:focus {
  border-color: darkgray;
}

input[type=submit] {
  width: auto;
  border-style: none;
  border-radius: 1em;
  color: #FFF;
  text-decoration: none;
  background-color: #17969E;
  padding: 0.3125em 0.8em;
  font-weight: bold;
}

input[type=submit]:hover, a[data-method=delete]:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: ease 0.5s;
}
header {
  background: #11698d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #2381a7 , #244283); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #2381a7, #244283); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2381a7, #244283); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #2381a7 , #244283); /* Standard syntax (must be last) */
  top: 0;

}
nav {

  outline: none;
  text-align: center;
  padding-top: 1.25em;
  color: snow;
  width: 100%;
  height: 2em;
  margin-right: 20em;
}
.fundo1 {
}
.fundo1, .fundo2 {
  margin-left: 3.5em;
  height: 2em;
  position: relative;
  float: left;
  left: 1em;

}
.fundo1:focus, .fundo1:active, .fundo2:focus, .fundo2:active {
  background-color: white;
}
.cadastro {
  font-family: 'Montserrat', sans-serif;
  font-size: 28pt;
  font-weight: 550;
  margin-left: 9em;
  float: left;

}
.font-nove {
  font-size: 9pt;
}

p{
  text-align: left;
  margin-left: 5.5em;
  font-family: 'Roboto', sans-serif;
  font-size: 22pt;
}
.arrow {
  top: 0;
  font-size: 3em;
  float: left;
  color: snow;
  margin-left: 0.5em;
}
.burg {

  float: left;
  margin-left: 10em;
}
.bar {
  width: 1.6em;
  height: 0.3em;
  margin-bottom: 5px;
background-color: snow;
  border-radius: 10em;
}
.bar:last-child {margin-bottom: 0px;}
