/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:400,500,700');
body {
  transition: transform 0.3s;
  margin: 0;
  text-align: center;
  background-color: #edeced;
  overflow-x: hidden;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  top: 0;
  font-size: 28pt;
  color: white;
  background: #11698d;
  align-items: center;
  text-align: center;
  height: 2em;
  padding: 0.3em;
  background: -webkit-linear-gradient(left, #2381a7 , #244283);
  background: -o-linear-gradient(right, #2381a7, #244283);
  background: -moz-linear-gradient(right, #2381a7, #244283);
  background: linear-gradient(to right, #2381a7 , #244283);
}
p.navbar {
  margin-left: 30%;
  float: left;
}
.ne-links {

}
a.ne-links, .opcao, .bemvindo {
  color: darkgrey;
  border-bottom: 0.1em solid darkgrey;
  height: 3em;
  width: 60%;
  margin: 0;
}
.row, .container-fluid{
  text-align: center;

}

input, select, textarea, option {
  background-color: white;
  border-radius: 1em;
  border:  0.125em solid lightgray;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 22pt;
  outline: none;
  padding: 0.2125em;
}

input:hover, select:hover, textarea:hover, option {
  border-color: silver;
}
input:focus, select:focus, textarea:focus, option {
  border-color: darkgray;
}
.links-cadastro {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 21pt;
  color:#17969E;
  background: snow;
  border: 0.25em solid #17969E;
  padding: 0.625em;
  text-align: center;
  float: left;

}
.links-cadastro:hover {
  color: snow;
  background: #17969E;
  transition: ease-out 0.5s;
}
.links-cadastro:focus {
  text-decoration:none;
}
a.links-cadastro{
  color: snow;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 21pt;
}

#pessoas {
  border-radius: 2.1875em 0 0 2.1875em;
}

#empresas {
  border-radius: 0 2.1875em 2.1875em 0;
}
.ne-links {
  text-transform: uppercase;
}





/*
.links{
width: 100%;
height: 4em;
}
.links-cadastro{
padding: 1.6em;
height: 0.9em;
}
.links-cadastro a{
height: 0.9em;

font-family: 'Roboto Medium', sans-serif;
font-size: 22pt;
color: #807f7f;
text-align: center;
position: relative;
text-decoration: none;
text-transform: uppercase;
}
.links-cadastro a:active{
background-color: white;
}
.links-cadastro a:focus {
background-color: white;
}


a[data-method=delete] {
position: relative;
border-style: none;
border-radius: 1em;
color: #FFF;
text-decoration: none;
background-color: #c1243e;
font-family: 'Roboto', sans-serif;
font-size: 20pt;
width: auto;

outline: none;
padding: 0.3125em 1.3125em ;

}

input {
background-color: white;
border-radius: 1em;
border:  0.125em solid lightgray;
color: inherit;
font-family: 'Roboto', sans-serif;
font-size: 22pt;
width: 65%;
outline: none;
padding: 0.3125em;
}
input:hover {
border-color: silver;
}
input:focus {
border-color: darkgray;
}

input[type=submit] {
width: auto;
border-style: none;
border-radius: 1em;
color: #FFF;
text-decoration: none;
background-color: #17969E;
padding: 0.3125em 0.8em;
font-weight: bold;
}

input[type=submit]:hover, a[data-method=delete]:hover {
cursor: pointer;
opacity: 0.7;
transition: ease 0.5s;
}
header {
background: #11698d;
background: -webkit-linear-gradient(left, #2381a7 , #244283);
background: -o-linear-gradient(right, #2381a7, #244283);
background: -moz-linear-gradient(right, #2381a7, #244283);
background: linear-gradient(to right, #2381a7 , #244283);
top: 0;

}
nav {

outline: none;
text-align: center;
padding-top: 1.25em;
color: snow;
width: 100%;
height: 2em;
margin-right: 20em;
}
.fundo1 {
}
.fundo1, .fundo2 {
margin-left: 3.5em;
height: 2em;
position: relative;
float: left;
left: 1em;

}
.fundo1:focus, .fundo1:active, .fundo2:focus, .fundo2:active {
background-color: white;
}
*/
#cadastro {
  font-family: 'Montserrat', sans-serif;
  font-size: 28pt;
  position: relative;
  top: 0;
  left: 21em;
  float: left;
}
#arrow {
  top: 0;
  float: left;
  color: snow;
  height: 2em;
  margin-left: 0.6em;
}
.burg {

  float: left;
  margin-left: 10em;
}
.bar {
  width: 1.6em;
  height: 0.3em;
  margin-bottom: 5px;
  background-color: snow;
  border-radius: 10em;
}
.bar:last-child {margin-bottom: 0px;}


@media screen and (min-width:320px) { }
@media screen and (min-width:480px) { }
@media screen and (min-width:600px) { }
@media screen and (min-width:768px) { }
@media screen and (min-width:992px) { }
