<%= flash[:notice] %>
<div class='row links'>
<%= react_component "Links", title: new_cadastro_path, nome: "Novo"; %>
<%= react_component "Links", title: edit_cadastro_path(:id), nome: "Editar";%>
</div>
